<header id="header" class="style2">
<div class="container">

<!-- logo -->
<h1 id="logo"><a href="#"><%= image_tag('logo.png') %></a></h1>

<ul class="topnav navRight">
  <li><a href="index.php.html#" id="open_sliding_panel">
    <span class="icon-remove-circle icon-white"></span> SUPPORT
  </a>
  </li>
  <li><a href="index.php.html#login_panel" data-rel="prettyPhoto[login_panel]">LOGIN</a></li>
</ul><!-- end topnav // right aligned -->

<ul class="topnav navLeft">
  <li class="drop"><a href="index.php.html#">MY CART</a>
    <div class="pPanel">
      <div class="inner">
        <span class="cart_details">3 items, Total of <strong>$599 USD</strong> <a href="index.php.html#" class="checkout">Checkout <span class="icon-chevron-right"></span></a></span>
      </div>
    </div>
  </li>
  <li class="languages drop"><a href="index.php.html#"><span class="icon-globe icon-white"></span> LANGUAGES</a>
    <div class="pPanel">
      <ul class="inner">
        <li class="active"><a href="index.php.html#">English <span class="icon-ok"></span></a></li>
        <li><a href="index.php.html#">French</a></li>
        <li><a href="index.php.html#">German</a></li>
      </ul>
    </div>
  </li>
</ul><!-- end topnav // left aligned -->

<!-- search -->
<div id="search">
  <a href="index.php.html#" class="searchBtn"><span class="icon-search icon-white"></span></a>
  <div class="search">
    <form action="http://www.google.com/search" method="get" onSubmit="Gsitesearch(this)" target="_blank">
      <input name="q" type="hidden" />
      <input name="qfront" maxlength="20" class="inputbox" type="text" size="20" value="SEARCH ..." onblur="if (this.value=='') this.value='SEARCH ...';" onfocus="if (this.value=='SEARCH ...') this.value='';" />
      <input type="submit" value="go" class=" icon-search"/>
    </form>
  </div>
</div><!-- end search -->

<script type="text/javascript">
    // THIS SCRIPT DETECTS THE ACTIVE ELEMENT AND ADDS ACTIVE CLASS
    (function($){
        $(document).ready(function(){
            var pathname = window.location.pathname,
                    page = pathname.split(/[/ ]+/).pop(),
                    menuItems = $('#main_menu a');
            menuItems.each(function(){
                var mi = $(this),
                        miHrefs = mi.attr("href"),
                        miParents = mi.parents('li');
                if(page == miHrefs) {
                    miParents.addClass("active").siblings().removeClass('active');
                }
            });
        });
    })(jQuery);
</script>
<nav id="main_menu">
  <ul class="sf-menu clearfix">
    <li class="active"><a href="index.php.html">HOME</a>
      <ul>
        <li><a href="homepage2.php.html">Homepage 2</a></li>
        <li><a href="homepage3.php.html">Homepage 3</a></li>
        <li><a href="homepage4.php.html">Homepage 4</a></li>
        <li><a href="homepage5.php.html">Homepage 5</a></li>
        <li><a href="homepage6.php.html">Homepage 6</a></li>
        <li><a href="homepage-all.php.html">Homepage All</a></li>
      </ul>
    </li>
    <li><a href="index.php.html#">SLIDERS</a>
      <ul>
        <li><a href="index.php.html#">Main Slider</a>
          <ul>
            <li><a href="index.php.html">Default Style</a></li>
            <li><a href="slider-main-with-thumbs.php.html">With Thumbs</a></li>
            <li><a href="slider-main-faded.php.html">Faded</a></li>
            <li><a href="slider-main-fixed.php.html">Fixed Width Slider</a></li>
            <li><a href="slider-main-fixed-position.php.html">Fixed Position (Scroll)</a></li>
          </ul>
        </li>
        <li><a href="slider-creative.php.html">Creative Slider</a></li>
        <li><a href="slider-fixed-flexslider.php.html">Fixed Slider</a>
          <ul>
            <li><a href="slider-fixed-flexslider.php.html">Style 1 (Flex Slider)</a>
              <ul>
                <li><a href="slider-fixed-flexslider.php.html">Default</a></li>
                <li><a href="slider-fixed-flexslider-thumbnails.php.html">With thumbnails</a></li>
              </ul>
            </li>
            <li><a href="slider-fixed-nivoslider.php.html">Style 2 (Nivo Slider)</a></li>
            <li><a href="slider-fixed-wowslider-blast.php.html">Style 3 (Wow Slider)</a>
              <ul>
                <li><a href="slider-fixed-wowslider-blast.php.html">Blast Effect</a></li>
                <li><a href="slider-fixed-wowslider-blinds.php.html">Blinds Effect</a></li>
                <li><a href="slider-fixed-wowslider-fly.php.html">Fly Effect</a></li>
                <li><a href="slider-fixed-wowslider-blur.php.html">Blur Effect</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li><a href="slider-3dslider.php.html">3D Cute Slider</a></li>
        <li><a href="slider-fancy.php.html">Fancy Slider</a></li>
        <li><a href="slider-circularcontent-alternative.php.html">Circular Content</a>
          <ul>
            <li><a href="slider-circularcontent-alternative.php.html">Alternative Style</a></li>
            <li><a href="slider-circularcontent-default.php.html">Default Style</a></li>
          </ul>
        </li>
        <li><a href="slider-static-content-default.php.html">Static Content</a>
          <ul>
            <li><a href="slider-static-content-default.php.html">Style 1</a></li>
            <li><a href="slider-static-content-boxes.php.html">Style 2 / Boxes</a></li>
            <li><a href="slider-static-content-video.php.html">Style 3 / Video</a></li>
            <li><a href="slider-static-content-maps.php.html">Style 4 / Maps</a></li>
            <li><a href="slider-static-content-textpop.php.html">Style 5 / Text pop</a></li>
            <li><a href="slider-static-content-zoom.php.html">Style 6 / Product Loupe</a></li>
            <li><a href="slider-static-content-event-countdown.php.html">Style 7 / Event countdown</a></li>
            <li><a href="slider-static-content-videobg.php.html">Style 8 / Video background</a></li><!-- http://www.teehanlax.com/ -->
            <li><a href="slider-static-content-text-login.php.html">Style 9 / Text &amp; Login</a></li>
            <li><a href="slider-static-content-simple.php.html">Style 10 / Simple text</a></li>
          </ul>
        </li>
        <li><a href="slider-portfolio-devices.php.html">Portfolio Slider Devices</a></li>
        <li><a href="slider-portfolio-frames.php.html">Portfolio Slider Frames</a>
          <ul>
            <li><a href="slider-portfolio-frames.php.html">Sliding Vertically</a></li>
            <li><a href="slider-portfolio-frames-horizontal.php.html">Sliding Horizontally</a></li>
          </ul>
        </li>
        <li><a href="slider-laptop.php.html">Laptop Slider</a></li>
        <li><a href="slider-icarousel.php.html">iCarousel</a></li>
        <li><a href="slider-css3panels.php.html">CSS3 Panels</a></li>
      </ul>
    </li>
    <li><a href="about-us.php.html">ABOUT US</a></li>
    <li><a href="index.php.html#">FEATURES</a>
      <ul>
        <li><a href="features-blog.php.html">Blog</a></li>
        <li><a href="index.php.html#">Portfolio</a>
          <ul>
            <li><a href="features-portfolio-cat-onecol.php.html">Category Layout</a>
              <ul>
                <li><a href="features-portfolio-cat-onecol.php.html">One Column</a></li>
                <li><a href="features-portfolio-cat-twocol.php.html">Two Columns</a></li>
                <li><a href="features-portfolio-cat-threecol.php.html">Three Columns</a></li>
                <li><a href="features-portfolio-cat-fourcol.php.html">Four Columns</a></li>
              </ul>
            </li>
            <li><a href="features-portfolio-sortable.php.html">Sortable Layout</a></li>
            <li><a href="features-portfolio-carousels.php.html">Carousels Layout</a></li>
          </ul>
        </li>
        <li><a href="features-photo-gallery.php.html">Photo Gallery</a></li>
        <li><a href="index.php.html#">Lightbox (Prettyphoto)</a>
          <ul>
            <li><a href="http://themeforest.net/user/hogash/?iframe=true&width=800&height=450" data-rel="prettyPhoto">PrettyPhoto (iFrame)</a></li>
            <li><a href="images/super_cool_ad.jpg" data-rel="prettyPhoto">PrettyPhoto (Image)</a></li>
            <li><a href="http://www.youtube.com/watch?v=G-1HNnxb0WE" data-rel="prettyPhoto">PrettyPhoto (Youtube)</a></li>
            <li><a href="features-lightbox-autopop.php.html">Auto Pop-up</a></li>
            <li><a href="index.php.html#transparent_panel" class="prettyPhoto_transparent">Transparent modal</a></li>
          </ul>
        </li>
        <li><a href="features-grid-positions.php.html">Grid Positions</a></li>
        <li><a href="features-sitemap.php.html">Sitemap</a></li>
        <li><a href="index.php.html#">Holiday Slides</a>
          <ul>
            <li><a href="features-holiday-christmas.php.html">Christmas</a></li>
            <li><a href="features-holiday-easter.php.html">Easter</a></li>
          </ul>
        </li>
        <li><a href="features-page-preloader.php.html">Page Preloader</a></li>
        <li><a href="features-animated-header.php.html">Animated Header</a></li>
      </ul>
    </li>
    <li><a href="shop.php.html">SHOP</a></li>
    <li><a href="index.php.html#">PAGES</a>
      <ul>
        <li><a href="pages-faq.php.html">FAQ</a></li>
        <li><a href="pages-process.php.html">Process</a></li>
        <li><a href="pages-contact.php.html">Contact us</a>
          <ul>
            <li><a href="pages-contact.php.html">Normal page</a></li>
            <li><a href="pages-contact-modal.php-iframe=true&height=430.html" class="prettyPhoto_transparent">Via modal</a></li>
          </ul>
        </li>
        <li><a href="pages-fullwidth.php.html">Full width</a></li>
        <li><a href="pages-leftsidebar.php.html">Left sidebar</a></li>
        <li><a href="pages-rightsidebar.php.html">Right sidebar</a></li>
        <li><a href="pages-offline.php.html">Offline / Coming soon</a></li>
        <li><a href="pages-historic.php.html">Historic / Timeline</a></li>
        <li><a href="pages-testimonials.php.html">Testimonials</a></li>
        <li><a href="pages-404.php.html">404 Error</a></li>
        <li><a href="pages-team.php.html">Team</a></li>
        <li><a href="pages-portfolioitem.php.html">Portfolio Item</a></li>
        <li><a href="pages-blogitem.php.html">Blog Item</a></li>
        <li><a href="pages-productitem.php.html">Product page</a></li>
        <li><a href="pages-product-list.php.html">Products List/Category</a></li>
        <li><a href="pages-services.php.html">Services</a></li>
        <li><a href="pages-careers.php.html">Careers</a></li>
        <li><a href="http://hogash-demos.com/kalypso_html_responsive/pages-passprotected.php">Password Protected</a></li>
      </ul>
    </li>
    <li><a href="index.php.html#">STYLES</a>
      <ul>
        <li><a href="styles-typography.php.html">Typography</a></li>
        <li><a href="styles-tables.php.html">Table designs</a></li>
        <li><a href="styles-buttons.php.html">Button designs</a></li>
        <li><a href="styles-pricingtables.php.html">Pricing tables</a></li>
        <li><a href="styles-forms.php.html">Form styles</a></li>
        <li><a href="styles-tabs.php.html">Tabs designs</a></li>
        <li><a href="styles-accordion.php.html">Accordion Toogles</a></li>
      </ul>
    </li>
  </ul>
</nav><!-- end main_menu -->

</div>
</header>
