<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="span5">
        <h3 class="m_title">FOOTER MENU</h3>
        <ul class="menu">
          <li><a href="index.php.html#">Curabitur iaculis</a></li>
          <li><a href="index.php.html#">Parturient montes</a></li>
          <li><a href="index.php.html#">Vulputate magna</a></li>
          <li><a href="index.php.html#">Cum sociis natoque</a></li>
          <li><a href="index.php.html#">Nulla varius commodo</a></li>
          <li><a href="index.php.html#">Parturient montes</a></li>
          <li><a href="index.php.html#">Vulputate magna</a></li>
          <li><a href="index.php.html#">Cum sociis natoque</a></li>
          <li><a href="index.php.html#">Nulla varius commodo</a></li>
        </ul><!-- end footer menu -->
      </div>
      <div class="span4">
        <div class="newsletter-signup">
          <h3 class="m_title">NEWSLETTER SIGNUP</h3>
          <p>By subscribing to our mailing list you will always be update with the latest news from us.</p>
          <form method="post" id="newsletter_subscribe" name="newsletter_form">
            <input type="text" name="nl-email" id="nl-email" value="" placeholder="your.address@email.com" />
            <input type="submit" name="submit" id="nl-submit" value="JOIN US" />
          </form>
          <span id="result">* it really works! Mailchimp Integration.</span>
          <p><small>We never spam!</small></p>
        </div><!-- end newsletter-signup -->
      </div>
      <div class="span3">
        <div class="contact-details">
          <h3 class="m_title">GET IN TOUCH</h3>
          <p><strong>T (212) 555 55 00</strong><br />
            Email: <a href="index.php.html#">sales@yourwebsite.com</a></p>
          <p>Your Company LTD<br />
            Street nr 100, 4536534, Chicago, US</p>
          <p><a href="http://goo.gl/maps/1OhOu" target="_blank" class="map-link"><span class="icon-map-marker icon-white"></span> Open in Google Maps</a></p>
        </div><!-- end contact-details -->
      </div>
    </div><!-- end row -->

    <div class="row">
      <div class="span6">
        <div class="twitter-feed">

          <!-- twitter feeds -->
          <div class="tweets" id="twitterFeed"><small>Please wait whilst our latest tweets load</small></div>
          <a href="https://twitter.com/hogash" class="twitter-follow-button" data-show-count="false">Follow @hogash</a><!-- follow button -->


        </div><!-- end twitter-feed -->
      </div>
      <div class="span6">
        <div class="social-share"><img src="images/share.jpg" /></div>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script><!-- twitter script -->
      </div>
    </div><!-- end row -->

    <div class="row">
      <div class="span12">
        <div class="bottom fixclear">
          <ul class="social-icons fixclear">
            <li class="title">GET SOCIAL</li>
            <li class="social-twitter"><a href="index.php.html#">Twitter</a></li>
            <li class="social-dribbble"><a href="index.php.html#">Dribbble</a></li>
            <li class="social-facebook"><a href="index.php.html#">Facebook</a></li>
            <li class="social-envato"><a href="index.php.html#">Envato</a></li>
          </ul><!-- end social-icons -->
          <div class="copyright">
            <a href="index.php.html"><img src="images/logo2.png" alt="" /></a>
            <p>&copy; 2012 <strong>KALLYAS Template</strong>. All Rights Reserved. Click <a href="http://themeforest.net/item/kalypso-highlypremium-multipurpose-template/3583938?ref=hogash" target="_blank">here</a> to buy it.<br />
              Designed by <a href="http://www.hogash.com/" target="_blank">HOGASH</a></p>
          </div><!-- end copyright -->
        </div><!-- end bottom -->
      </div>
    </div><!-- end row -->

  </div>
</footer>