<div id="action_box" data-arrowpos="center">
  <div class="container">
    <div class="row">
      <div class="span8">
        <h4 class="text">Want to be updated with our latest offers?</h4>
      </div>
      <div class="span4 align-center">
        <a href="index.php.html#" class="btn">JOIN OUR NEWSLETTER</a>
      </div>
    </div>
  </div>
</div>

<section id="content">
<div class="container">

<div class="row image-boxes imgboxes_style1">
  <div class="span4 box">
    <a href="index.php.html#" class="hoverBorder">
      <img src="images/site_images/img1.jpg" alt="">
      <h6>Read more +</h6>
    </a>
    <h3 class="m_title">MULTIPURPOSE TEMPLATE</h3>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.</p>
  </div><!-- end span -->

  <div class="span4 box">
    <a href="index.php.html#" class="hoverBorder">
      <img src="images/site_images/img2.jpg" alt="">
      <h6>Read more +</h6>
    </a>
    <h3 class="m_title">WELL DOCUMENTED</h3>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.</p>
  </div><!-- end span -->

  <div class="span4 box">
    <a href="index.php.html#" class="hoverBorder">
      <img src="images/site_images/img3.jpg" alt="">
      <h6>Read more +</h6>
    </a>
    <h3 class="m_title">GREAT SUPPORT</h3>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.</p>
  </div><!-- end span -->

</div><!-- end row // imgboxes_style1 -->

<div class="row services_box">
  <div class="span4">
    <div class="box fixclear">
      <div class="icon"><img src="images/icons/services_box/ico-01.png" alt=""></div>
      <h4 class="title">WEB DESIGN  SERVICES</h4>
      <ul class="list-style1">
        <li>Content management systens</li>
        <li>Virtual shops and ecommerce </li>
        <li>Presentation websites</li>
        <li>Online catalogues</li>
        <li>Portal systems</li>
        <li>& any other dynamic website </li>
      </ul>
    </div><!-- end box -->
  </div>
  <div class="span4">
    <div class="box fixclear">
      <div class="icon"><img src="images/icons/services_box/ico-02.png" alt=""></div>
      <h4 class="title">GRAPHIC DESIGN SERVICES</h4>
      <ul class="list-style1">
        <li>Logo design</li>
        <li>Flyers & Brochures</li>
        <li>Business Cards</li>
        <li>Stationery Design</li>
        <li>Powerpoint presentation</li>
        <li>Print Ads / Magazine</li>
        <li>Banners</li>
      </ul>
    </div><!-- end box -->
  </div>
  <div class="span4">
    <div class="box fixclear">
      <div class="icon"><img src="images/icons/services_box/ico-03.png" alt=""></div>
      <h4 class="title">INTERNET MARKETING</h4>
      <ul class="list-style1">
        <li>Search engine optimisation</li>
        <li>Search engine marketing</li>
        <li>Internet advertising</li>
        <li>Web analysis</li>
        <li>Blog marketing</li>
      </ul>
    </div><!-- end box -->
  </div>
</div><!-- end row // services_box -->


<div class="row recentwork_carousel default-style">
  <div class="span3">
    <h3 class="m_title">RECENT WORKS</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam.</p>
    <div class="controls">
      <a href="index.php.html#" class="prev"><span class="icon-chevron-left"></span></a>
      <a href="index.php.html#" class="complete"><span class="icon-th"></span></a>
      <a href="index.php.html#" class="next"><span class="icon-chevron-right"></span></a>
    </div>
  </div>
  <div class="span9">
    <ul id="recent_works1" class="fixclear">
      <li>
        <a href="index.php.html#">
									<span class="hover">
										<img src="images/site_images/recent_works/work1.jpg" alt="" />
										<span class="hov"></span>
									</span>
          <div class="details">
            <span class="bg"></span>
            <h4>Business cards project</h4>
            <span>Graphic Design</span>
          </div>
        </a>
      </li><!-- end item -->
      <li>
        <a href="index.php.html#">
									<span class="hover">
										<img src="images/site_images/recent_works/work2.jpg" alt="" />
										<span class="hov"></span>
									</span>
          <div class="details">
            <span class="bg"></span>
            <h4>Business cards project</h4>
            <span>Graphic Design</span>
          </div>
        </a>
      </li><!-- end item -->
      <li>
        <a href="index.php.html#">
									<span class="hover">
										<img src="images/site_images/recent_works/work3.jpg" alt="" />
										<span class="hov"></span>
									</span>
          <div class="details">
            <span class="bg"></span>
            <h4>Business cards project</h4>
            <span>Graphic Design</span>
          </div>
        </a>
      </li><!-- end item -->
      <li>
        <a href="index.php.html#">
									<span class="hover">
										<img src="images/site_images/recent_works/work4.jpg" alt="" />
										<span class="hov"></span>
									</span>
          <div class="details">
            <span class="bg"></span>
            <h4>Business cards project</h4>
            <span>Graphic Design</span>
          </div>
        </a>
      </li><!-- end item -->
    </ul>
  </div>
</div><!-- end row // recentworks_carousel default-style -->

<div class="row">
  <div class="span10">
    <h3 class="m_title" style="margin-top:25px;">KALLYAS Template IS AN ALL IN ONE PRODUCT WITH LOTS OF  GOODIES AND FEATURES, BASED ON OWN FRAMEWORK</h3>
    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</p>
  </div>
  <div class="span2">
    <a href="index.php.html#" class="circlehover with-symbol" data-size="" data-position="top-left" data-align="right">
      <span class="text">FIND OUT MORE</span>
      <span class="symbol"><img src="images/ok.png" alt=""></span>
    </a>
  </div>
</div><!-- end row // circlehover -->

<div class="row feature_box style2">
  <div class="span12">
    <h4 class="smallm_title centered bigger"><span>WHY CHOOSE THIS THEME</span></h4>
  </div>
  <div class="span3">
    <div class="box">
      <span class="icon"><img src="images/icons/featured_boxes2/ico-01.png" alt=""></span>
      <h4 class="title">CUSTOMER SUPPORT</h4>
      <p>Great customer support! Check out our forum.</p>
    </div>
    <div class="box">
      <span class="icon"><img src="images/icons/featured_boxes2/ico-05.png" alt=""></span>
      <h4 class="title">RESPONSIVE</h4>
      <p>The template has a responsive layout. Try resizing the window.</p>
    </div>
  </div>
  <div class="span3">
    <div class="box">
      <span class="icon"><img src="images/icons/featured_boxes2/ico-02.png" alt=""></span>
      <h4 class="title">WELL DOCUMENTED</h4>
      <p>Documentation include with explanations for most of the options.</p>
    </div>
    <div class="box">
      <span class="icon"><img src="images/icons/featured_boxes2/ico-06.png" alt=""></span>
      <h4 class="title">MULTILANGUAGE READY</h4>
      <p>You can install languages and extend the website's languages.</p>
    </div>
  </div>
  <div class="span3">
    <div class="box">
      <span class="icon"><img src="images/icons/featured_boxes2/ico-03.png" alt=""></span>
      <h4 class="title">UNLIMITED COLORS</h4>
      <p>With just a few clicks you can add any color you want.</p>
    </div>
    <div class="box">
      <span class="icon"><img src="images/icons/featured_boxes2/ico-07.png" alt=""></span>
      <h4 class="title">HTML5 &amp; CSS3</h4>
      <p>Built with modern technologies like HTML5 and CSS3.</p>
    </div>
  </div>
  <div class="span3">
    <div class="box">
      <span class="icon"><img src="images/icons/featured_boxes2/ico-04.png" alt=""></span>
      <h4 class="title">CUSTOM SHORTCODES</h4>
      <p>Great custom shortcodes which are ment to ease up your work.</p>
    </div>
    <div class="box">
      <span class="icon"><img src="images/icons/featured_boxes2/ico-08.png" alt=""></span>
      <h4 class="title">HIGHLY CUSTOMIZABLE</h4>
      <p>This template includes lots of customizations and combinations.</p>
    </div>
  </div>
</div><!-- end row // featurebox style2 -->

<div class="row">
  <div class="span12">
    <div class="latest_posts acc-style">
      <h3 class="m_title">LATEST POSTS</h3>
      <a href="index.php.html#" class="viewall">VIEW ALL -</a>
      <div class="css3accordion">
        <ul>
          <li>
            <div class="inner-acc">
              <a href="index.php.html#" class="thumb hoverBorder">
                <img src="images/site_images/img1.jpg" alt="">
              </a>
              <div class="content">
                <em>03 October 2012 by Admin, in Entertanment</em>
                <h5 class="m_title">Nemo enim ipsam voluptatem quia voluptas sit aspernatur </h5>
                <div class="text">Vivamus ut molestie nulla. Aenean vel tortor velit. Morbi quis varius tortor..</div>
                <a href="index.php.html#">READ MORE +</a>
              </div>
            </div>
          </li>

          <li>
            <div class="inner-acc">
              <a href="index.php.html#" class="thumb hoverBorder plus">
                <img src="images/site_images/img2.jpg" alt="">
              </a>
              <div class="content">
                <em>03 October 2012 by Admin, in Entertanment</em>
                <h5 class="m_title">Nemo enim ipsam voluptatem quia voluptas sit aspernatur </h5>
                <div class="text">Vivamus ut molestie nulla. Aenean vel tortor velit. Morbi quis varius tortor..</div>
                <a href="index.php.html#">READ MORE +</a>
              </div>
            </div>
          </li>

          <li class="last">
            <div class="inner-acc">
              <a href="index.php.html#" class="thumb hoverBorder plus">
                <img src="images/site_images/img3.jpg" alt="">
              </a>
              <div class="content">
                <em>03 October 2012 by Admin, in Entertanment</em>
                <h5 class="m_title">Nemo enim ipsam voluptatem quia voluptas sit aspernatur </h5>
                <div class="text">Vivamus ut molestie nulla. Aenean vel tortor velit. Morbi quis varius tortor..</div>
                <a href="index.php.html#">READ MORE +</a>
              </div>
            </div>
          </li>
        </ul>
      </div><!-- end CSS3 Accordion -->
    </div><!-- end acc-style -->
  </div>
</div><!-- end row // latest posts // acc-style -->

</div>

<div class="gray-area">
  <div class="container">
    <div class="row">
      <div class="span7">
        <h3 class="m_title">WELCOME TO KALLYAS Template</h3>
        <a href="index.php.html#" class="hoverBorder pull-right" style="margin-left:20px;"><img src="images/site_images/img6.jpg" alt=""></a>
        <p>Vivamus ut molestie nulla. Aenean vel tortor velit. Morbi quis varius tortor. Quisque sit amet leo purus, eget accumsan lorem.<br>
          Curabitur fringilla ipsum id quam lacinia venenatis.</p>
        <p>Nullam facilisis mattis lacus, ut dapibus risus congue vitae. Suspendisse potenti. </p>
        <p>Nunc sodales dolor at justo posuere vitae pretium magna rhoncus. Sed quis velit eget diam condimentum tempus.</p>
        <!-- end // welcome text -->
      </div>
      <div class="span5">
        <h3 class="m_title">TEXT ACCORDION</h3>
        <div class="acc-group default-style">
          <button data-toggle="collapse" data-target="#acc1" class="collapsed">Vivamus ut molestie nulla. Aenean vel tortor velit.</button>
          <div id="acc1" class="collapse in">
            <div class="content">
              <p>Vivamus ut molestie nulla. Aenean vel tortor velit. Morbi quis varius tortor. Quisque sit amet leo purus, eget accumsan lorem.<br> Curabitur fringilla ipsum id quam lacinia venenatis. </p>
            </div><!-- end content -->
          </div>
        </div><!-- end acc group -->
        <div class="acc-group default-style">
          <button data-toggle="collapse" data-target="#acc2" class="collapsed">Duis aute irure dolor in reprehenderit in voluptate.</button>
          <div id="acc2" class="collapse in">
            <div class="content">
              <p>Vivamus ut molestie nulla. Aenean vel tortor velit. Morbi quis varius tortor. Quisque sit amet leo purus, eget accumsan lorem.<br> Curabitur fringilla ipsum id quam lacinia venenatis. </p>
            </div><!-- end content -->
          </div>
        </div><!-- end acc group -->
        <div class="acc-group default-style">
          <button data-toggle="collapse" data-target="#acc3" class="collapsed">Neque porro quisquam est qui dolorem.</button>
          <div id="acc3" class="collapse in">
            <div class="content">
              <p>Vivamus ut molestie nulla. Aenean vel tortor velit. Morbi quis varius tortor. Quisque sit amet leo purus, eget accumsan lorem.<br> Curabitur fringilla ipsum id quam lacinia venenatis. </p>
            </div><!-- end content -->
          </div>
        </div><!-- end acc group -->
        <div class="acc-group default-style">
          <button data-toggle="collapse" data-target="#acc4" class="collapsed">At vero eos et accusamus et iusto odio dignissimos.</button>
          <div id="acc4" class="collapse in">
            <div class="content">
              <p>Vivamus ut molestie nulla. Aenean vel tortor velit. Morbi quis varius tortor. Quisque sit amet leo purus, eget accumsan lorem.<br> Curabitur fringilla ipsum id quam lacinia venenatis. </p>
            </div><!-- end content -->
          </div>
        </div><!-- end acc group -->
        <div class="acc-group default-style">
          <button data-toggle="collapse" data-target="#acc5" class="collapsed">Curabitur fringilla ipsum id quam lacinia venenatis..</button>
          <div id="acc5" class="collapse in">
            <div class="content">
              <p>Vivamus ut molestie nulla. Aenean vel tortor velit. Morbi quis varius tortor. Quisque sit amet leo purus, eget accumsan lorem.<br> Curabitur fringilla ipsum id quam lacinia venenatis. </p>
            </div><!-- end content -->
          </div>
        </div><!-- end acc group -->

        <!-- end // accordion texts  -->
      </div>
    </div><!-- end row // welcome text // acc texts  -->

    <div class="row">
      <div class="span12">
        <!-- Attributes -->
        <!-- data-align = left / right / top / bottom -->
        <!-- data-size = small / medium / large / full / onethird / twothirds -->
        <!-- data-theme = light / dark -->
        <div class="testimonial_box" data-align="left" data-size="small" data-theme="light">
          <div class="details">
            <img src="images/testimonial_logo.png" alt="">
            <h6><strong>Paul Simon</strong> General Manager</h6>
          </div>
          <blockquote>I'm very happy with your services. I have an excellent website built from scratch and I'm 100% happy.</blockquote>
        </div><!-- end testimonial box -->
        <div class="testimonial_box" data-align="top" data-size="large" data-theme="dark">
          <div class="details">
            <img src="images/testimonial_logo.png" alt="">
            <h6><strong>Andrew Smith</strong> Strategic Coordinator</h6>
          </div>
          <blockquote>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum. Donec id elit non mi porta gravida at eget metus.</blockquote>
        </div><!-- end testimonial box -->

        <div class="clear"></div>
      </div>
    </div><!-- end row // testimonials -->
  </div>
</div>

<div class="container">

  <div class="row">
    <div class="span12">
      <div class="process_steps fixclear">
        <div class="step intro">
          <h3>our working process <strong>in 3 steps</strong></h3>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi.</p>
          <a href="index.php.html#">MORE ABOUT US +</a>
        </div><!-- end step -->
        <div class="step step1">
          <div class="icon" data-animation="tada">
            <img src="images/icons/steps/ico-plan.png" alt="">
          </div>
          <h3>planning &amp; strategy</h3>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
        </div><!-- end step -->
        <div class="step step2">
          <div class="icon" data-animation="pulse">
            <img src="images/icons/steps/ico-designdev.png" alt="">
          </div>
          <h3>design &amp; develop</h3>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
        </div><!-- end step -->
        <div class="step step3">
          <div class="icon" data-animation="fadeOutRightBig">
            <img src="images/icons/steps/ico-launch.png" alt="">
          </div>
          <h3>test &amp; deliver</h3>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
        </div><!-- end step -->
      </div>

    </div>
  </div><!-- end row // process_steps -->

  <div class="row partners_carousel">
    <div class="span2">
      <h5 class="title"><span>OUR PARTNERS // TEHNOLOGIES USED</span></h5>
      <div class="controls">
        <a href="index.php.html#" class="prev"><span class="icon-chevron-left"></span></a>
        <a href="index.php.html#" class="next"><span class="icon-chevron-right"></span></a>
      </div>
    </div>
    <div class="span10">
      <ul id="partners_carousel" class="fixclear">
        <li><a href="index.php.html#"><img src="images/partners/css3.png" alt="" /></a></li>
        <li><a href="index.php.html#"><img src="images/partners/html5.png" alt="" /></a></li>
        <li><a href="index.php.html#"><img src="images/partners/joomla.png" alt="" /></a></li>
        <li><a href="index.php.html#"><img src="images/partners/wordpress.png" alt="" /></a></li>
        <li><a href="index.php.html#"><img src="images/partners/themeforest.png" alt="" /></a></li>
        <li><a href="index.php.html#"><img src="images/partners/jquery.png" alt="" /></a></li>
      </ul>
    </div>
  </div><!-- end row // partners carousel -->

  <div class="row">
    <div class="span12">
      <div class="keywordbox">just some keywords here, services or what any text you want</div>
    </div>
  </div><!-- end row // keywords-->

</div><!-- end container -->
</section><!-- end #content -->