<div id="slideshow" class="gradient">

  <div class = "iosSlider">

    <div class="slider">

      <div class = "item">
        <%= image_tag('sliders/iosslider/slide1.jpg') %>
        <div class="caption style1">
          <h2 class="main_title">AUTUMN 2012<br>COLLECTION</h2>
          <h3 class="title_big">20% DISCOUNT</h3>
          <a href="index.php.html#" class="more"><%= image_tag('sliders/iosslider/arr01.png') %></a>
          <h4 class="title_small">FOR THE PRODUCTS IN OUR NEWEST COLLECTION</h4>
        </div>
      </div><!-- end item -->

      <div class = "item">
        <%= image_tag('sliders/iosslider/slide2.jpg') %>
        <div class="caption style2 fromright " >
          <h2 class="main_title">YOUR LIVING<br>DESERVES BETTER</h2>
          <h3 class="title_big">IT'S YOUR COUCH</h3>
          <a href="index.php.html#" class="more"><%= image_tag('sliders/iosslider/arr01.png') %></a>
          <h4 class="title_small">CHOOSE WHAT YOU LIKE, COMBINE IT HOW YOU WANT</h4>
        </div>
      </div><!-- end item -->
      <div class = "item">
        <%= image_tag('sliders/iosslider/slide3.jpg') %>
        <div class="caption style1">
          <h2 class="main_title">GRAND OPENING<br>NOVEMBER 2012</h2>
          <h3 class="title_big">50% OFF ON ANY ORDER</h3>
          <a href="index.php.html#" class="more"><%= image_tag('sliders/iosslider/arr01.png') %></a>
          <h4 class="title_small">BEST PLACE TO HAVE A DRINK IN OUR CITY</h4>
        </div>
      </div><!-- end item -->

      <div class = "item itemPngBackground">
        <%= image_tag('sliders/iosslider/slide4.png') %>
        <div class="caption style3 fromright">
          <h2 class="main_title">AUTUMN 2012<br>COLLECTION</h2>

          <h4 class="title_small">FOR THE PRODUCTS IN OUR NEWEST COLLECTION</h4>
          <h3 class="title_big"><span class="stronger">20%</span> DISCOUNT</h3>
        </div>
      </div><!-- end item -->

    </div>

    <div class="prev">
      <div class="btn-label">PREV</div>
    </div>

    <div class="next">
      <div class="btn-label">NEXT</div>
    </div>

    <div class="selectorsBlock bullets">
      <div class="selectors">
        <div class="item first selected"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
      </div>
    </div>

  </div><!-- end iosSlider -->
  <div class="scrollbarContainer"></div>
</div><
<!-- end slideshow -->


<%= render partial: 'home/content' %>