INPUT.miniColors {
    margin-right: 4px;
}

.miniColors-selector {
    position: absolute;
    width: 175px;
    height: 150px;
    background: white;
    border: solid 1px #bababa;
    -moz-box-shadow: 0 0 6px rgba(0, 0, 0, .25);
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, .25);
    box-shadow: 0 0 6px rgba(0, 0, 0, .25);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 5px;
    z-index: 999999;
}

.miniColors.opacity.miniColors-selector {
    width: 200px;
}

.miniColors-selector.black {
    background: black;
    border-color: black;
}

.miniColors-selector.gray {
    background: #DDD;
    border-color: #EEE;
}

.miniColors-colors {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 150px;
    height: 150px;
    background: url("addons/demo_panel/images/colors.png") -40px 0 no-repeat;
    cursor: crosshair;
}

.miniColors.opacity .miniColors-colors {
    left: 30px;
}

.miniColors-hues {
    position: absolute;
    top: 5px;
    left: 160px;
    width: 20px;
    height: 150px;
    background: url("addons/demo_panel/images/colors.png") 0 0 no-repeat;
    cursor: crosshair;
}

.miniColors.opacity .miniColors-hues {
    left: 185px;
}

.miniColors-opacity {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 20px;
    height: 150px;
    background: url("addons/demo_panel/images/colors.png") -20px 0 no-repeat;
    cursor: crosshair;
}

.miniColors-colorPicker {
    position: absolute;
    width: 11px;
    height: 11px;
    border: 1px solid black;
    -moz-border-radius: 11px;
    -webkit-border-radius: 11px;
    border-radius: 11px;
}
.miniColors-colorPicker-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 7px;
    height: 7px;
    border: 2px solid white;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    border-radius: 9px;
}

.miniColors-huePicker,
.miniColors-opacityPicker {
    position: absolute;
    left: -2px;
    width: 22px;
    height: 2px;
    border: 1px solid black;
    background: white;
    margin-top: -1px;
    border-radius: 2px;
}

.miniColors-trigger,
.miniColors-triggerWrap {
    width: 22px;
    height: 22px;
    display: inline-block;
}

.miniColors-triggerWrap {
    background: url("addons/demo_panel/images/trigger.png") -22px 0 no-repeat;
}

.miniColors-triggerWrap.disabled {
    filter: alpha(opacity=50);
    opacity: .5;
}

.miniColors-trigger {
    vertical-align: middle;
    outline: none;
    background: url("addons/demo_panel/images/trigger.png") 0 0 no-repeat;
}

.miniColors-triggerWrap.disabled .miniColors-trigger {
    cursor: default;
}

/*Pretty Print */
.com { color: #93a1a1; }
.lit { color: #195f91; }
.pun, .opn, .clo { color: #93a1a1; }
.fun { color: #dc322f; }
.str, .atv { color: #D14; }
.kwd, .prettyprint .tag { color: #1e347b; }
.typ, .atn, .dec, .var { color: teal; }
.pln { color: #48484c; }

.prettyprint {
    padding: 8px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
}
.prettyprint.linenums {
    -webkit-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
    -moz-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
    box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
    margin: 0 0 0 33px; /* IE indents via margin-left */
}
ol.linenums li {
    padding-left: 12px;
    color: #bebec5;
    line-height: 20px;
    text-shadow: 0 1px 0 #fff;
}

/* Pretty Photo */
div.pp_default .pp_top,div.pp_default .pp_top .pp_middle,div.pp_default .pp_top .pp_left,div.pp_default .pp_top .pp_right,div.pp_default .pp_bottom,div.pp_default .pp_bottom .pp_left,div.pp_default .pp_bottom .pp_middle,div.pp_default .pp_bottom .pp_right{height:13px}
div.pp_default .pp_top .pp_left{background:url("addons/prettyphoto/pp_themes/default/sprite.png") -78px -93px no-repeat}
div.pp_default .pp_top .pp_middle{background:url("addons/prettyphoto/pp_themes/default/sprite_x.png") top left repeat-x}
div.pp_default .pp_top .pp_right{background:url("addons/prettyphoto/pp_themes/default/sprite.png") -112px -93px no-repeat}
div.pp_default .pp_content .ppt{color:#f8f8f8}
div.pp_default .pp_content_container .pp_left{background:url("addons/prettyphoto/pp_themes/default/sprite_y.png") -7px 0 repeat-y;padding-left:13px}
div.pp_default .pp_content_container .pp_right{background:url("addons/prettyphoto/pp_themes/default/sprite_y.png") top right repeat-y;padding-right:13px}
div.pp_default .pp_next:hover{background:url("addons/prettyphoto/pp_themes/default/sprite_next.png") center right no-repeat;cursor:pointer}
div.pp_default .pp_previous:hover{background:url("addons/prettyphoto/pp_themes/default/sprite_prev.png") center left no-repeat;cursor:pointer}
div.pp_default .pp_expand{background:url("addons/prettyphoto/pp_themes/default/sprite.png") 0 -29px no-repeat;cursor:pointer;width:28px;height:28px}
div.pp_default .pp_expand:hover{background:url("addons/prettyphoto/pp_themes/default/sprite.png") 0 -56px no-repeat;cursor:pointer}
div.pp_default .pp_contract{background:url("addons/prettyphoto/pp_themes/default/sprite.png") 0 -84px no-repeat;cursor:pointer;width:28px;height:28px}
div.pp_default .pp_contract:hover{background:url("addons/prettyphoto/pp_themes/default/sprite.png") 0 -113px no-repeat;cursor:pointer}
div.pp_default .pp_close{width:30px;height:30px;background:url("addons/prettyphoto/pp_themes/default/sprite.png") 2px 1px no-repeat;cursor:pointer}
div.pp_default .pp_gallery ul li a{background:url("addons/prettyphoto/pp_themes/default/default_thumb.png") center center #f8f8f8;border:1px solid #aaa}
div.pp_default .pp_social{margin-top:7px}
div.pp_default .pp_gallery a.pp_arrow_previous,div.pp_default .pp_gallery a.pp_arrow_next{position:static;left:auto}
div.pp_default .pp_nav .pp_play,div.pp_default .pp_nav .pp_pause{background:url("addons/prettyphoto/pp_themes/default/sprite.png") -51px 1px no-repeat;height:30px;width:30px}
div.pp_default .pp_nav .pp_pause{background-position:-51px -29px}
div.pp_default a.pp_arrow_previous,div.pp_default a.pp_arrow_next{background:url("addons/prettyphoto/pp_themes/default/sprite.png") -31px -3px no-repeat;height:20px;width:20px;margin:4px 0 0}
div.pp_default a.pp_arrow_next{left:52px;background-position:-82px -3px}
div.pp_default .pp_content_container .pp_details{margin-top:5px}
div.pp_default .pp_nav{clear:none;height:30px;width:110px;position:relative}
div.pp_default .pp_nav .currentTextHolder{font-family:Georgia;font-style:italic;color:#999;font-size:11px;left:75px;line-height:25px;position:absolute;top:2px;margin:0;padding:0 0 0 10px}
div.pp_default .pp_close:hover,div.pp_default .pp_nav .pp_play:hover,div.pp_default .pp_nav .pp_pause:hover,div.pp_default .pp_arrow_next:hover,div.pp_default .pp_arrow_previous:hover{opacity:0.7; filter:alpha(opacity=70);}
div.pp_default .pp_description{font-size:11px;font-weight:700;line-height:14px;margin:5px 50px 5px 0}
div.pp_default .pp_bottom .pp_left{background:url("addons/prettyphoto/pp_themes/default/sprite.png") -78px -127px no-repeat}
div.pp_default .pp_bottom .pp_middle{background:url("addons/prettyphoto/pp_themes/default/sprite_x.png") bottom left repeat-x}
div.pp_default .pp_bottom .pp_right{background:url("addons/prettyphoto/pp_themes/default/sprite.png") -112px -127px no-repeat}
div.pp_default .pp_loaderIcon{background:url("addons/prettyphoto/pp_themes/default/loader.gif") center center no-repeat}
div.light_rounded .pp_top .pp_left{background:url("addons/prettyphoto/pp_themes/light_rounded/sprite.png") -88px -53px no-repeat}
div.light_rounded .pp_top .pp_right{background:url("addons/prettyphoto/pp_themes/light_rounded/sprite.png") -110px -53px no-repeat}
div.light_rounded .pp_next:hover{background:url("addons/prettyphoto/pp_themes/light_rounded/btnNext.png") center right no-repeat;cursor:pointer}
div.light_rounded .pp_previous:hover{background:url("addons/prettyphoto/pp_themes/light_rounded/btnPrevious.png") center left no-repeat;cursor:pointer}
div.light_rounded .pp_expand{background:url("addons/prettyphoto/pp_themes/light_rounded/sprite.png") -31px -26px no-repeat;cursor:pointer}
div.light_rounded .pp_expand:hover{background:url("addons/prettyphoto/pp_themes/light_rounded/sprite.png") -31px -47px no-repeat;cursor:pointer}
div.light_rounded .pp_contract{background:url("addons/prettyphoto/pp_themes/light_rounded/sprite.png") 0 -26px no-repeat;cursor:pointer}
div.light_rounded .pp_contract:hover{background:url("addons/prettyphoto/pp_themes/light_rounded/sprite.png") 0 -47px no-repeat;cursor:pointer}
div.light_rounded .pp_close{width:75px;height:22px;background:url("addons/prettyphoto/pp_themes/light_rounded/sprite.png") -1px -1px no-repeat;cursor:pointer}
div.light_rounded .pp_nav .pp_play{background:url("addons/prettyphoto/pp_themes/light_rounded/sprite.png") -1px -100px no-repeat;height:15px;width:14px}
div.light_rounded .pp_nav .pp_pause{background:url("addons/prettyphoto/pp_themes/light_rounded/sprite.png") -24px -100px no-repeat;height:15px;width:14px}
div.light_rounded .pp_arrow_previous{background:url("addons/prettyphoto/pp_themes/light_rounded/sprite.png") 0 -71px no-repeat}
div.light_rounded .pp_arrow_next{background:url("addons/prettyphoto/pp_themes/light_rounded/sprite.png") -22px -71px no-repeat}
div.light_rounded .pp_bottom .pp_left{background:url("addons/prettyphoto/pp_themes/light_rounded/sprite.png") -88px -80px no-repeat}
div.light_rounded .pp_bottom .pp_right{background:url("addons/prettyphoto/pp_themes/light_rounded/sprite.png") -110px -80px no-repeat}
div.dark_rounded .pp_top .pp_left{background:url("addons/prettyphoto/pp_themes/dark_rounded/sprite.png") -88px -53px no-repeat}
div.dark_rounded .pp_top .pp_right{background:url("addons/prettyphoto/pp_themes/dark_rounded/sprite.png") -110px -53px no-repeat}
div.dark_rounded .pp_content_container .pp_left{background:url("addons/prettyphoto/pp_themes/dark_rounded/contentPattern.png") top left repeat-y}
div.dark_rounded .pp_content_container .pp_right{background:url("addons/prettyphoto/pp_themes/dark_rounded/contentPattern.png") top right repeat-y}
div.dark_rounded .pp_next:hover{background:url("addons/prettyphoto/pp_themes/dark_rounded/btnNext.png") center right no-repeat;cursor:pointer}
div.dark_rounded .pp_previous:hover{background:url("addons/prettyphoto/pp_themes/dark_rounded/btnPrevious.png") center left no-repeat;cursor:pointer}
div.dark_rounded .pp_expand{background:url("addons/prettyphoto/pp_themes/dark_rounded/sprite.png") -31px -26px no-repeat;cursor:pointer}
div.dark_rounded .pp_expand:hover{background:url("addons/prettyphoto/pp_themes/dark_rounded/sprite.png") -31px -47px no-repeat;cursor:pointer}
div.dark_rounded .pp_contract{background:url("addons/prettyphoto/pp_themes/dark_rounded/sprite.png") 0 -26px no-repeat;cursor:pointer}
div.dark_rounded .pp_contract:hover{background:url("addons/prettyphoto/pp_themes/dark_rounded/sprite.png") 0 -47px no-repeat;cursor:pointer}
div.dark_rounded .pp_close{width:75px;height:22px;background:url("addons/prettyphoto/pp_themes/dark_rounded/sprite.png") -1px -1px no-repeat;cursor:pointer}
div.dark_rounded .pp_description{margin-right:85px;color:#fff}
div.dark_rounded .pp_nav .pp_play{background:url("addons/prettyphoto/pp_themes/dark_rounded/sprite.png") -1px -100px no-repeat;height:15px;width:14px}
div.dark_rounded .pp_nav .pp_pause{background:url("addons/prettyphoto/pp_themes/dark_rounded/sprite.png") -24px -100px no-repeat;height:15px;width:14px}
div.dark_rounded .pp_arrow_previous{background:url("addons/prettyphoto/pp_themes/dark_rounded/sprite.png") 0 -71px no-repeat}
div.dark_rounded .pp_arrow_next{background:url("addons/prettyphoto/pp_themes/dark_rounded/sprite.png") -22px -71px no-repeat}
div.dark_rounded .pp_bottom .pp_left{background:url("addons/prettyphoto/pp_themes/dark_rounded/sprite.png") -88px -80px no-repeat}
div.dark_rounded .pp_bottom .pp_right{background:url("addons/prettyphoto/pp_themes/dark_rounded/sprite.png") -110px -80px no-repeat}
div.dark_rounded .pp_loaderIcon{background:url("addons/prettyphoto/pp_themes/dark_rounded/loader.gif") center center no-repeat}
div.dark_square .pp_left,div.dark_square .pp_middle,div.dark_square .pp_right,div.dark_square .pp_content{background:#000}
div.dark_square .pp_description{color:#fff;margin:0 85px 0 0}
div.dark_square .pp_loaderIcon{background:url("addons/prettyphoto/pp_themes/dark_square/loader.gif") center center no-repeat}
div.dark_square .pp_expand{background:url("addons/prettyphoto/pp_themes/dark_square/sprite.png") -31px -26px no-repeat;cursor:pointer}
div.dark_square .pp_expand:hover{background:url("addons/prettyphoto/pp_themes/dark_square/sprite.png") -31px -47px no-repeat;cursor:pointer}
div.dark_square .pp_contract{background:url("addons/prettyphoto/pp_themes/dark_square/sprite.png") 0 -26px no-repeat;cursor:pointer}
div.dark_square .pp_contract:hover{background:url("addons/prettyphoto/pp_themes/dark_square/sprite.png") 0 -47px no-repeat;cursor:pointer}
div.dark_square .pp_close{width:75px;height:22px;background:url("addons/prettyphoto/pp_themes/dark_square/sprite.png") -1px -1px no-repeat;cursor:pointer}
div.dark_square .pp_nav{clear:none}
div.dark_square .pp_nav .pp_play{background:url("addons/prettyphoto/pp_themes/dark_square/sprite.png") -1px -100px no-repeat;height:15px;width:14px}
div.dark_square .pp_nav .pp_pause{background:url("addons/prettyphoto/pp_themes/dark_square/sprite.png") -24px -100px no-repeat;height:15px;width:14px}
div.dark_square .pp_arrow_previous{background:url("addons/prettyphoto/pp_themes/dark_square/sprite.png") 0 -71px no-repeat}
div.dark_square .pp_arrow_next{background:url("addons/prettyphoto/pp_themes/dark_square/sprite.png") -22px -71px no-repeat}
div.dark_square .pp_next:hover{background:url("addons/prettyphoto/pp_themes/dark_square/btnNext.png") center right no-repeat;cursor:pointer}
div.dark_square .pp_previous:hover{background:url("addons/prettyphoto/pp_themes/dark_square/btnPrevious.png") center left no-repeat;cursor:pointer}
div.light_square .pp_expand{background:url("addons/prettyphoto/pp_themes/light_square/sprite.png") -31px -26px no-repeat;cursor:pointer}
div.light_square .pp_expand:hover{background:url("addons/prettyphoto/pp_themes/light_square/sprite.png") -31px -47px no-repeat;cursor:pointer}
div.light_square .pp_contract{background:url("addons/prettyphoto/pp_themes/light_square/sprite.png") 0 -26px no-repeat;cursor:pointer}
div.light_square .pp_contract:hover{background:url("addons/prettyphoto/pp_themes/light_square/sprite.png") 0 -47px no-repeat;cursor:pointer}
div.light_square .pp_close{width:75px;height:22px;background:url("addons/prettyphoto/pp_themes/light_square/sprite.png") -1px -1px no-repeat;cursor:pointer}
div.light_square .pp_nav .pp_play{background:url("addons/prettyphoto/pp_themes/light_square/sprite.png") -1px -100px no-repeat;height:15px;width:14px}
div.light_square .pp_nav .pp_pause{background:url("addons/prettyphoto/pp_themes/light_square/sprite.png") -24px -100px no-repeat;height:15px;width:14px}
div.light_square .pp_arrow_previous{background:url("addons/prettyphoto/pp_themes/light_square/sprite.png") 0 -71px no-repeat}
div.light_square .pp_arrow_next{background:url("addons/prettyphoto/pp_themes/light_square/sprite.png") -22px -71px no-repeat}
div.light_square .pp_next:hover{background:url("addons/prettyphoto/pp_themes/light_square/btnNext.png") center right no-repeat;cursor:pointer}
div.light_square .pp_previous:hover{background:url("addons/prettyphoto/pp_themes/light_square/btnPrevious.png") center left no-repeat;cursor:pointer}

div.pp_kalypso .pp_expand{background:url("addons/prettyphoto/pp_themes/kalypso/sprite.png") -31px -26px no-repeat;cursor:pointer;  background-color: #999; background-color: rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px;}
div.pp_kalypso .pp_expand:hover{background:url("addons/prettyphoto/pp_themes/kalypso/sprite.png") -31px -47px no-repeat;cursor:pointer;
    background-color: #999; background-color: rgba(0, 0, 0, 0.4);}
div.pp_kalypso .pp_contract{background:url("addons/prettyphoto/pp_themes/kalypso/sprite.png") 0 -26px no-repeat;cursor:pointer;  background-color: #999; background-color: rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px;}
div.pp_kalypso .pp_contract:hover{background:url("addons/prettyphoto/pp_themes/kalypso/sprite.png") 0 -47px no-repeat;cursor:pointer;
background-color: #999; background-color: rgba(0, 0, 0, 0.4);}
div.pp_kalypso .pp_close{background:url("addons/prettyphoto/pp_themes/kalypso/sprite.png") 0 1px no-repeat rgba(255, 255, 255, 0.4); width: 16px; height: 16px; cursor: pointer; right: 24px; top: 6px; opacity:0.6; filter:alpha(opacity=60); z-index:2001;
    -webkit-border-radius: 50%; -moz-border-radius:50%; border-radius: 50%;}
div.pp_kalypso .pp_close:hover {opacity:1; filter:alpha(opacity=100);}
div.pp_kalypso .pp_nav .pp_play{background:url("addons/prettyphoto/pp_themes/kalypso/sprite.png") 1px -103px no-repeat;height:15px;width:14px}
div.pp_kalypso .pp_nav .pp_pause{background:url("addons/prettyphoto/pp_themes/kalypso/sprite.png") -24px -100px no-repeat;height:15px;width:14px}
div.pp_kalypso .pp_arrow_previous{background:url("addons/prettyphoto/pp_themes/kalypso/sprite.png")3px -69px no-repeat}
div.pp_kalypso .pp_arrow_next{background:url("addons/prettyphoto/pp_themes/kalypso/sprite.png") -18px -69px no-repeat}
div.pp_kalypso .pp_next:hover{background:url("addons/prettyphoto/pp_themes/kalypso/btnNext.png") center right no-repeat;cursor:pointer}
div.pp_kalypso .pp_previous:hover{background:url("addons/prettyphoto/pp_themes/kalypso/btnPrevious.png") center left no-repeat;cursor:pointer}
div.pp_kalypso .pp_top,
div.pp_kalypso .pp_bottom {display:none;}
div.pp_kalypso .ppt {font-size:13px; font-weight:700; text-transform:uppercase;}
div.pp_kalypso .pp_content_container .pp_right,
div.pp_kalypso .pp_content_container .pp_left {padding:0;}
div.pp_kalypso .pp_content { margin: 0 auto; border:1px solid #fff;
    -webkit-box-shadow:0 0 20px #000; -moz-box-shadow:0 0 20px #000;  box-shadow:0 0 20px #000;
    -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px; }
div.pp_kalypso .inner-container { }

div.facebook .pp_top .pp_left{background:url("addons/prettyphoto/pp_themes/facebook/sprite.png") -88px -53px no-repeat}
div.facebook .pp_top .pp_middle{background:url("addons/prettyphoto/pp_themes/facebook/contentPatternTop.png") top left repeat-x}
div.facebook .pp_top .pp_right{background:url("addons/prettyphoto/pp_themes/facebook/sprite.png") -110px -53px no-repeat}
div.facebook .pp_content_container .pp_left{background:url("addons/prettyphoto/pp_themes/facebook/contentPatternLeft.png") top left repeat-y}
div.facebook .pp_content_container .pp_right{background:url("addons/prettyphoto/pp_themes/facebook/contentPatternRight.png") top right repeat-y}
div.facebook .pp_expand{background:url("addons/prettyphoto/pp_themes/facebook/sprite.png") -31px -26px no-repeat;cursor:pointer}
div.facebook .pp_expand:hover{background:url("addons/prettyphoto/pp_themes/facebook/sprite.png") -31px -47px no-repeat;cursor:pointer}
div.facebook .pp_contract{background:url("addons/prettyphoto/pp_themes/facebook/sprite.png") 0 -26px no-repeat;cursor:pointer}
div.facebook .pp_contract:hover{background:url("addons/prettyphoto/pp_themes/facebook/sprite.png") 0 -47px no-repeat;cursor:pointer}
div.facebook .pp_close{width:22px;height:22px;background:url("addons/prettyphoto/pp_themes/facebook/sprite.png") -1px -1px no-repeat;cursor:pointer}
div.facebook .pp_description{margin:0 37px 0 0}
div.facebook .pp_loaderIcon{background:url("addons/prettyphoto/pp_themes/facebook/loader.gif") center center no-repeat}
div.facebook .pp_arrow_previous{background:url("addons/prettyphoto/pp_themes/facebook/sprite.png") 0 -71px no-repeat;height:22px;margin-top:0;width:22px}
div.facebook .pp_arrow_previous.disabled{background-position:0 -96px;cursor:default}
div.facebook .pp_arrow_next{background:url("addons/prettyphoto/pp_themes/facebook/sprite.png") -32px -71px no-repeat;height:22px;margin-top:0;width:22px}
div.facebook .pp_arrow_next.disabled{background-position:-32px -96px;cursor:default}
div.facebook .pp_nav{margin-top:0}
div.facebook .pp_nav p{font-size:15px;padding:0 3px 0 4px}
div.facebook .pp_nav .pp_play{background:url("addons/prettyphoto/pp_themes/facebook/sprite.png") -1px -123px no-repeat;height:22px;width:22px}
div.facebook .pp_nav .pp_pause{background:url("addons/prettyphoto/pp_themes/facebook/sprite.png") -32px -123px no-repeat;height:22px;width:22px}
div.facebook .pp_next:hover{background:url("addons/prettyphoto/pp_themes/facebook/btnNext.png") center right no-repeat;cursor:pointer}
div.facebook .pp_previous:hover{background:url("addons/prettyphoto/pp_themes/facebook/btnPrevious.png") center left no-repeat;cursor:pointer}
div.facebook .pp_bottom .pp_left{background:url("addons/prettyphoto/pp_themes/facebook/sprite.png") -88px -80px no-repeat}
div.facebook .pp_bottom .pp_middle{background:url("addons/prettyphoto/pp_themes/facebook/contentPatternBottom.png") top left repeat-x}
div.facebook .pp_bottom .pp_right{background:url("addons/prettyphoto/pp_themes/facebook/sprite.png") -110px -80px no-repeat}
div.pp_pic_holder a:focus{outline:none}
div.pp_overlay{background:#000;display:none;left:0;position:absolute;top:0;width:100%;z-index:9500}
div.pp_pic_holder{display:none;position:absolute;width:100px;z-index:10000}
.pp_content{height:40px;min-width:40px}
* html .pp_content{width:40px}
.pp_content_container{position:relative;text-align:left;width:100%}
.pp_content_container .pp_left{padding-left:20px}
.pp_content_container .pp_right{padding-right:20px}
.pp_content_container .pp_details{float:left;margin:10px 0 2px}
.pp_description{display:none;margin:0}
.pp_social{float:left;margin:0}
.pp_social .facebook{float:left;margin-left:5px;width:55px;overflow:hidden}
.pp_social .twitter{float:left}
.pp_nav{clear:right;float:left;margin:3px 10px 0 0}
.pp_nav p{float:left;white-space:nowrap;margin:2px 4px; }
.pp_nav .pp_play,.pp_nav .pp_pause{float:left;margin-right:4px;text-indent:-10000px}
a.pp_arrow_previous,a.pp_arrow_next{display:block;float:left;height:15px;margin-top:3px;overflow:hidden;text-indent:-10000px;width:14px}
.pp_hoverContainer{position:absolute;top:0;width:100%;z-index:2000}
.pp_gallery{display:none;left:50%;margin-top:-50px;position:absolute;z-index:10000}
.pp_gallery div{float:left;overflow:hidden;position:relative}
.pp_gallery ul{float:left;height:35px;position:relative;white-space:nowrap;margin:0 0 0 5px;padding:0}
.pp_gallery ul a{border:1px rgba(0,0,0,0.5) solid;display:block;float:left;height:33px;overflow:hidden}
.pp_gallery ul a img{border:0}
.pp_gallery li{display:block;float:left;margin:0 5px 0 0;padding:0}
.pp_gallery li.default a{background:url("addons/prettyphoto/pp_themes/facebook/default_thumbnail.gif") 0 0 no-repeat;display:block;height:33px;width:50px}
.pp_gallery .pp_arrow_previous,.pp_gallery .pp_arrow_next{margin-top:7px!important}
a.pp_next{background:url("addons/prettyphoto/pp_themes/light_rounded/btnNext.png") 10000px 10000px no-repeat;display:block;float:right;height:100%;text-indent:-10000px;width:49%}
a.pp_previous{background:url("addons/prettyphoto/pp_themes/light_rounded/btnNext.png") 10000px 10000px no-repeat;display:block;float:left;height:100%;text-indent:-10000px;width:49%}
a.pp_expand,a.pp_contract{cursor:pointer;display:none;height:20px;position:absolute;right:30px;text-indent:-10000px;top:10px;width:20px;z-index:20000}
a.pp_close{position:absolute;right:0;top:0;display:block;line-height:22px;text-indent:-10000px}
.pp_loaderIcon{display:block;height:24px;left:50%;position:absolute;top:50%;width:24px;margin:-12px 0 0 -12px}
#pp_full_res{line-height:1!important}
#pp_full_res .pp_inline{text-align:left}
#pp_full_res .pp_inline p{margin:0 0 15px}
div.ppt{color:#fff;display:none;font-size:17px;z-index:9999;margin:0 0 5px 15px}
div.pp_default .pp_content,div.light_rounded .pp_content{background-color:#fff}
div.pp_default #pp_full_res .pp_inline,div.light_rounded .pp_content .ppt,div.light_rounded #pp_full_res .pp_inline,div.light_square .pp_content .ppt,div.light_square #pp_full_res .pp_inline,div.facebook .pp_content .ppt,div.facebook #pp_full_res .pp_inline{color:#000}
div.pp_default .pp_gallery ul li a:hover,div.pp_default .pp_gallery ul li.selected a,.pp_gallery ul a:hover,.pp_gallery li.selected a{border-color:#fff}
div.pp_default .pp_details,div.light_rounded .pp_details,div.dark_rounded .pp_details,div.dark_square .pp_details,div.light_square .pp_details,div.facebook .pp_details{position:relative}
div.light_rounded .pp_top .pp_middle,div.light_rounded .pp_content_container .pp_left,div.light_rounded .pp_content_container .pp_right,div.light_rounded .pp_bottom .pp_middle,div.light_square .pp_left,div.light_square .pp_middle,div.light_square .pp_right,div.light_square .pp_content,div.facebook .pp_content{background:#fff}
div.light_rounded .pp_description,div.light_square .pp_description{margin-right:85px}
div.light_rounded .pp_gallery a.pp_arrow_previous,div.light_rounded .pp_gallery a.pp_arrow_next,div.dark_rounded .pp_gallery a.pp_arrow_previous,div.dark_rounded .pp_gallery a.pp_arrow_next,div.dark_square .pp_gallery a.pp_arrow_previous,div.dark_square .pp_gallery a.pp_arrow_next,div.light_square .pp_gallery a.pp_arrow_previous,div.light_square .pp_gallery a.pp_arrow_next{margin-top:12px!important}
div.light_rounded .pp_arrow_previous.disabled,div.dark_rounded .pp_arrow_previous.disabled,div.dark_square .pp_arrow_previous.disabled,div.light_square .pp_arrow_previous.disabled{background-position:0 -87px;cursor:default}
div.light_rounded .pp_arrow_next.disabled,div.dark_rounded .pp_arrow_next.disabled,div.dark_square .pp_arrow_next.disabled,div.light_square .pp_arrow_next.disabled{background-position:-22px -87px;cursor:default}
div.light_rounded .pp_loaderIcon,div.light_square .pp_loaderIcon{background:url("addons/prettyphoto/pp_themes/light_rounded/loader.gif") center center no-repeat}

div.pp_kalypso .pp_content .ppt,
div.pp_kalypso #pp_full_res .pp_inline{color:#000}
div.pp_kalypso .pp_details {margin:14px 0 2px}
div.pp_kalypso .pp_content {background:#ededed}
div.pp_kalypso .pp_description{margin-right: 0; color: #EEE; line-height: 1.7; font-size: 12px; margin-top: 3px;}
div.pp_kalypso .pp_gallery a.pp_arrow_previous,
div.pp_kalypso .pp_gallery a.pp_arrow_next{margin-top:12px!important}
div.pp_kalypso .pp_arrow_previous.disabled{background-position:0 -87px;cursor:default}
div.pp_kalypso .pp_arrow_next.disabled{background-position:-22px -87px;cursor:default}
div.pp_kalypso .pp_loaderIcon{background:url("addons/prettyphoto/pp_themes/kalypso/loader.gif") center center no-repeat}
div.pp_kalypso a.pp_expand,
div.pp_kalypso a.pp_contract {left:30px; right:auto;}
div.pp_kalypso .pp_social {float:right;}
div.pp_kalypso .pp_social .facebook	{width:45px; }
div.pp_kalypso .pp_nav {color:#c5c5c5; background: #000; background:rgba(0,0,0,0.8); padding: 5px 3px 4px;
    -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px;}
div.pp_kalypso a.pp_arrow_previous,
div.pp_kalypso a.pp_arrow_next {margin-top:0;}
div.pp_kalypso .pp_nav p {margin: 0 4px; font-size: 9px; line-height: 15px;}
div.pp_kalypso a.pp_next{background-image:url("addons/prettyphoto/pp_themes/kalypso/btnNext.png");}
div.pp_kalypso a.pp_previous{background-image:url("addons/prettyphoto/pp_themes/kalypso/btnNext.png");}

div.pp_kalypso.transparent .pp_content {background:none; border:0; -webkit-box-shadow:none; -moz-box-shadow:none; box-shadow:none;}
div.pp_kalypso.transparent .pp_content {background:none; border:0; -webkit-box-shadow:none; -moz-box-shadow:none; box-shadow:none;}
div.pp_kalypso.transparent .pp_close {background:url("addons/prettyphoto/pp_themes/kalypso/sprite.png") 0 1px no-repeat transparent; opacity:1; filter:alpha(opacity=100);}

div.dark_rounded .pp_top .pp_middle,div.dark_rounded .pp_content,div.dark_rounded .pp_bottom .pp_middle{background:url("addons/prettyphoto/pp_themes/dark_rounded/contentPattern.png") top left repeat}
div.dark_rounded .currentTextHolder,div.dark_square .currentTextHolder{color:#c4c4c4}
div.dark_rounded #pp_full_res .pp_inline,div.dark_square #pp_full_res .pp_inline{color:#fff}
.pp_top,.pp_bottom{height:20px;position:relative}
* html .pp_top,* html .pp_bottom{padding:0 20px}
.pp_top .pp_left,.pp_bottom .pp_left{height:20px;left:0;position:absolute;width:20px}
.pp_top .pp_middle,.pp_bottom .pp_middle{height:20px;left:20px;position:absolute;right:20px}
* html .pp_top .pp_middle,* html .pp_bottom .pp_middle{left:0;position:static}
.pp_top .pp_right,.pp_bottom .pp_right{height:20px;left:auto;position:absolute;right:0;top:0;width:20px}
.pp_fade,.pp_gallery li.default a img{display:none}


