<!DOCTYPE html>
<html>
<head>
  <title>WeddingPortfolio</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta name="keywords" content="premium html template, unique premium template, multipurpose"/>
  <meta name="description" content="Welcome to KALLYAS Template, a wonderful and premium product for multipurpose websites"/>


  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:300,400,700,900&v1&mp;subset=latin,latin-ext" type="text/css" media="screen" id="google_font"/>
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700&v1&mp;subset=latin,latin-ext" type="text/css" media="screen" id="google_font_body"/>


  <!--<link rel="shortcut icon" href="images/favicons/favicon.png">-->
  <!--<link rel="apple-touch-icon" href="images/favicons/apple-touch-icon-57x57.png">-->
  <!--<link rel="apple-touch-icon" sizes="72x72" href="images/favicons/apple-touch-icon-72x72.png">-->
  <!--<link rel="apple-touch-icon" sizes="114x114" href="images/favicons/apple-touch-icon-114x114.png">-->

  <!--[if lte IE 9]>
  <![endif]-->

  <!--[if lte IE 8]>
  <script type="text/javascript">
      var $buoop = {vs: {i: 8, f: 6, o: 10.6, s: 4, n: 9}}
      $buoop.ol = window.onload;
      window.onload = function () {
          try {
              if ($buoop.ol) $buoop.ol();
          } catch (e) {
          }
          var e = document.createElement("script");
          e.setAttribute("type", "text/javascript");
          e.setAttribute("src", "http://browser-update.org/update.js");
          document.body.appendChild(e);
      }
  </script>
  <![endif]-->

  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
  <!--<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>-->
  <!--<![endif]&ndash;&gt;-->

  <!-- END Facebook OpenGraph Tags -->

  <!-- THIS IS THE DARK THEME STYLESEET // REMOVE COMMENTS TO ENABLE -->
  <!-- <link rel="stylesheet" href="css/dark-theme.css" type="text/css" /> -->
  <!-- END DARK THEME -->

  <!-- Custom page stylesheets -->
  <!--<link rel="stylesheet" href="sliders/iosslider/style.css" type="text/css" />-->
  <!-- end custom page stylesheets -->

</head>
<body>
<div id="page_wrapper">
  <%= render partial: 'shared/header' %>
  <%= yield %>
  <%= render partial: 'shared/main_footer' %>

</div>
<!-- end page_wrapper -->

<a href="#" id="totop">TOP</a>

<!--////////////////// Load JS Files -->

<script type="text/javascript">
    ;
    (function ($) {
         // end doc ready
    })(jQuery);
</script>

<!-- Carousels (by CarouFredSel) -->
<script type="text/javascript">
    ;
    (function ($) {
        // ** partners carousel
        $('#partners_carousel').carouFredSel({
            responsive: true,
            scroll: 1,
            auto: false,
            items: {
                width: 250,
                visible: {
                    min: 1,
                    max: 10
                }
            },
            prev: {
                button: ".partners_carousel .prev",
                key: "left"
            },
            next: {
                button: ".partners_carousel .next",
                key: "right"
            }
        });
        // *** end partners carousel
        $(window).load(function () {
            // ** recent works
            $('#recent_works1').carouFredSel({
                responsive: true,
                scroll: 1,
                auto: false,
                items: {
                    width: 300,
                    visible: {
                        min: 1,
                        max: 10
                    }
                },
                prev: {
                    button: ".recentwork_carousel .prev",
                    key: "left"
                },
                next: {
                    button: ".recentwork_carousel .next",
                    key: "right"
                }
            });
            // *** end recent works carousel
        });
    })(jQuery);
</script>
<!-- end Carousels (by CarouFredSel) -->
<!--<link rel="stylesheet" href="css/template.css-src=..%7Caddons%7Cdemo_panel%7Cdemo_panel.php" type="text/css" />-->


<!-- JavaScript at the bottom for fast page loading -->


<!-- prettyphoto scripts & styles -->
<script type="text/javascript">

    function ppOpen(panel, width) {
        jQuery.prettyPhoto.close();
        setTimeout(function () {
            jQuery.fn.prettyPhoto({social_tools: false, deeplinking: false, show_title: false, default_width: width, theme: 'pp_kalypso'});
            jQuery.prettyPhoto.open(panel);
        }, 300);
    } // function to open different panel within the panel

    jQuery(document).ready(function ($) {
        jQuery("a[data-rel^='prettyPhoto'], .prettyphoto_link").prettyPhoto({theme: 'pp_kalypso', social_tools: false, deeplinking: false});
        jQuery("a[rel^='prettyPhoto']").prettyPhoto({theme: 'pp_kalypso'});
        jQuery("a[data-rel^='prettyPhoto[login_panel]']").prettyPhoto({theme: 'pp_kalypso', default_width: 800, social_tools: false, deeplinking: false});

        jQuery(".prettyPhoto_transparent").click(function (e) {
            e.preventDefault();
            jQuery.fn.prettyPhoto({social_tools: false, deeplinking: false, show_title: false, default_width: 980, theme: 'pp_kalypso transparent', opacity: 0.95});
            jQuery.prettyPhoto.open($(this).attr('href'), '', '');
        });

    });

</script>
<!--end prettyphoto -->


</body>
</html>
